<div class="container">
    <br>
    <br>
    <br>
    <br>
    <a class="waves-effect waves-light btn  #880e4f pink darken-4" href="/auth/google">
        <span>Sign in with </span>
        <img height="30" src="https://cdn.icon-icons.com/icons2/2119/PNG/512/google_icon_131222.png" alt="">
    </a>
</div>